.react-calendar {
  overflow: hidden;
  padding: 25px 24px !important;
  border-radius: 18px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.CalendarView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menstrual {
  background-color: #ffd6d6 !important;
  border-radius: 10px !important;
}

.follicular {
  background-color: #d6ffe4 !important;
  border-radius: 10px !important;
}

.ovulation {
  background-color: hsl(305, 40%, 68%) !important;
  border-radius: 10px !important;
}

.luteal {
  background-color: #e0d6ff !important;
  border-radius: 10px !important;
}

.CalendarView p {
  margin-top: 12px;
  font-weight: 500;
  color: #555;
}
